
.mainDiv{
  display: flex;
  align-items: center;
  justify-content:center;
  min-height: 100vh;

}

.mainCard{
  padding: 1rem;
  margin:2rem auto;
  border-radius: 25px;
  box-shadow: grey 0 0 15px 5px;
  max-width: 65%;
}

.mainCard h1{
  font-size: 1.5rem;
  margin: auto 2rem;
}

.mainCard p{
  text-align: right;
  margin: 1rem 1.5rem ;
  font-style: italic;
}

.cardFooter{
  display: flex;
  align-items: center;
}

.cardFooter a{
  margin: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color:blue;
  border-radius: 50%;
  box-shadow: grey 0 0 15px 1px;
  height: 3rem;
  width: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.cardFooter button{
  border:none;
  background-color: white;
  font-size: 1rem;
  height: 3.2rem;
  margin-left: 0;
  box-shadow: grey 0 0 15px 1px;
  cursor: pointer;
  transition: 0.2s;
  padding: 0 2rem;
  font-weight: bold;
  
}

.cardFooter button:hover, .cardFooter a:hover{
  transform: scale(1.1);
  box-shadow: grey 0 0 10px 1px;
}

footer{
  margin-top: 5rem;
  width:100vw;
  padding:0;
  margin:0 ;
}

.footerA{
  margin-left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.footerA{
  transition: 0.2s;
  color:black;
  text-decoration: none;
}

.footerA:hover{
  text-shadow: grey 0 0 5px;
}

.icon{
  font-size: 2.3rem;
  padding-bottom: 3rem;
}

.icon:hover{
  transform: scale(1.5);
}
